{% extends 'root.html' %}
{% load static %}
{% block content %}

<div class="container">


    <h3>Cart page</h3>

    <div class="row">

        <div class="col-lg-12">

            <div class="product_box">
                   <a  class="btn btn-outline-dark" href="">Continue Shopping &#x2192;</a>
                <br />
                <hr />


                <table class="table table-bordered">

                    <tr>
                        <th>Item:<b> 3</b> </th>
                        <th>Total: <b> 5000 Rs </b></th>
                        <th>
                            <a href="" style="float:right" class="btn btn-outline-success">Checkout</a>
                        </th>
                        <th></th>
                    </tr>

                </table>


                <div class="product_box product">

                    <div class="my-cart">
                    <div style="flex:2"><b>Image</b></div><div style="flex:2"> <b>Product </b> </div>
                    <div style="flex:1"><b>Price</b></div>
                    <div style="flex:1"> <b>Quantity</b>
                    </div>
                    <div style="flex:1"><b>Total Cost</b></div>
                    </div>

                </div>
                <div class="product_box product">

                    <div class="my-cart">
                    <div  style="flex:2">
                        <img class="img_row" src="{%  static 'images/joggers.jpg'  %}" /></div>
                    <div style="flex:2"><p>Joggers</p>  </div>
                    <div style="flex:1"><p>2400 Rs</p></div>

                    <div style="flex:1">
                        <p class="quantity">2</p>
                        <div class="quantity">
                            <img class="arrow-quan" src="{%  static 'images/arrow-top.png'  %}" />
                            <img class="arrow-quan" src="{%  static 'images/arrow-down.png'  %}" />
                        </div>
                    </div>

                    <div style="flex:1">4800 Rs</div>
                    </div>

                </div>

            </div>


        </div>




        </div>

</div>



{% endblock %}